@import '/../variables';

main {
  padding-top: 0.5rem;
  height: calc(100vh - #{$footer-height});
  border-left: 1px solid rgba(0,0,0,.3);
  border-bottom: 1px solid rgba(0,0,0,.3);
  overflow-y: auto;
  div#main {
    min-height: calc(200vh);
  }
}
