@import '../../scss/bootstrap-variables';

main {
  margin-top: 0;
  padding-top: 0.5rem;
  height: calc(100vh - #{$header-height} - #{$footer-height});
  border: 1px solid rgba(0,0,0,0.3);
  overflow-y: auto;
  div#main {
    //
  }
}
