@import 'variables';
@import '~bootstrap/scss/bootstrap';

body {
  margin-bottom: 0px !important;
  min-width: $min-width;
}

code {
  color: $rs-blue;
}

.rs-blue {
  color: $rs-blue;
}
a.navbar-brand.rs-blue {
  color: $rs-blue;
}
